body {
  background:linear-gradient(to right, rgb(143, 154, 255) ,rgb(192, 121, 148));
}

.mynavbar   {
  grid-area: sidebar;
  background: linear-gradient(to right, rgb(197, 94, 134), rgba(218,105,250,1),
   rgb(100, 116, 253)) ;
  justify-content: center;
}
.wrapper {
    min-height: 100vh;
    padding-top: 60px;
}
.sparta-img {
    max-height: 35px;
}
.logo {
  height: 45px;
}
#narasi {
  background-color:aliceblue;
  border-radius: 2px 80px;
  padding: 20px;
}
.btn-yes{
  display: inline-block;
  vertical-align: top;
  margin: 40px;
  margin-top: 80px;
}